/*STYLE FOR SMARTPHONES*/

/*COLORS
    Background: #fff (white)
    Header and links: #747 (light purple)
    Head texts: #402440 (dark purple)
    Text main: #000 (black)
    Visited links and postfoots: #888 (gray)
*/

#header {
    margin-bottom: 60px;
}

#nav {
    padding: 0;
    width: 100%;
}

#nav a {
    clear: both;
    float: none;
    height: 25px;
    line-height: 25px;
    width: 100%;
}

#content {
    margin: 0 auto;
    padding: 10px 10px 28px 10px;
}

#footer a:hover {
    color: #747;
}

/*Forms*/
fieldset {
    border: none;
    margin-top: 20px;
}

legend {
    margin-left: 0;
    padding: 0;
    text-align: center;
}

#form1 label {
    float: none;
    margin: 0;
    padding: 5px 0;
    text-align: left;
    width: 100%;
}

#text, #moretext {
    margin: 0;
    width: 100%;
}

button {
    float: left;
}