/*STYLE FOR SMARTPHONES*/

/*Texts and links*/

#header {
    background-position: center 5px;
    float: none;
    margin-bottom: 60px;
}

h1 {
    font-size: 1.25em;
    line-height: 1.25em;
    padding-top: 60px;
    text-align: center;
    text-indent: 0;
}

#nav {
    height: inherit;
    width: 100%;
    padding: 0;
    position: inherit;
}

#nav a {
    clear: both;
    float: none;
    height: 25px;
    line-height: 25px;
    padding: 0;
    text-align: center;
    width: 100%;
}

#active a:link, #active a:visited, #active a:focus, #active a:hover, #active a:active {
    color: #888;
}

#content {
    margin: 0 auto;
    max-width: 940px;
    padding: 10px 10px 28px 10px;
}

#footer a:hover {
    color: #747;
}

/*Forms*/
fieldset {
    border: none;
    margin-top: 20px;
}

legend {
    margin-left: 0;
    padding: 0;
    text-align: center;
}

#form1 label {
    float: none;
    margin: 0;
    padding: 5px 0;
    text-align: left;
    width: 100%;
}

#text, #moretext {
    margin: 0;
    width: 100%;
}

