/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END OF RESET*/

/*START OF STYLE*/


/*COLORS
  Background color: #fff (white)
  Text main color: #000 (black)
  Main color: #f60 (orange)
  Visited links color: #b24700 (dark orange)
  Light orange: #ff7519
  Second color (links etc): #00a9b2 (blue)
  Third color: #00f1ff (light blue)
*/


/*Layout*/
#container {
    margin: 0 auto;
    width: 960px;
    overflow: auto;
}

#header {
    margin: 40px auto 80px auto;
    width: 480px;
    height: 160px;
}

#nav {
    float: left;
    margin: 0 27px 0 5px;
    width: 175px;
}

#content {
    float: left;
    width: 753px;
}

#footer {
    clear: both;
    width: 960px;
}

/*Backgrounds and borders*/

#header {
    background: transparent url(pics/logotyp.png) no-repeat top center;
    border-bottom: dashed #f60 2px;
}

#footer {
    background: #f60;
}

table {
    border: solid #00a9b2 2px;
}

th, td {
    border: solid #00a9b2 1px;
    padding: 0.5em;
}

fieldset {
    border: solid #00a9b2 1px;
}

/*Texts and links*/

h1 {
    color: #000;
    font-family: Consolas, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-top: 100px;
    text-align: center;
    line-height: 30px;
}

h2 {
    border-bottom: solid #00a9b2 2px;
    color: #000;
    font-family: Consolas, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    
}

#presentation h2 {
    border: 0px;
    color: #000;
}

h3 {
    border-bottom: dashed #00a9b2 1px;
    color: #000;
    font-family: Consolas, Verdana, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
}

p {
    color: #000;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 21px;
}


/*resets the reset of lists*/
ul { 
   list-style-type: disc; 
   list-style-position: inside; 
}
ol { 
   list-style-type: decimal; 
   list-style-position: inside; 
}
ul ul, ol ul { 
   list-style-type: circle; 
   list-style-position: inside; 
   margin-left: 15px; 
}
ol ol, ul ol { 
   list-style-type: lower-latin; 
   list-style-position: inside; 
   margin-left: 15px; 
}
/*resets the reset of lists*/


li {
    color: #000;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 21px;
}

dl {
    color: #000;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 21px;
    list-style-position: inside;
	margin:0 0 1.5em 0;
}

dl dt {
	font-weight:bold;
}
dd {
	margin-left:1.5em;
}

td {
    text-align: center;
}

.postfoot {
    border-bottom: dashed #00a9b2 1px;
    border-top: dashed #00a9b2 1px;
    text-align: right;
}

a:link {color: #00a9b2; font-family: Verdana, sans-serif; font-size:14px; line-height: 21px;}
a:visited {color: #b24700;}
a:focus {color: #000; border: solid #f60 2px;}
a:hover {color: #000;}
a:active {color: #fff;}

#footer a {
    color: #000;
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#footer a:hover {
    color: #fff;
}

#nav a {
    border-bottom: dashed #f60 1px;
    display: block;
    font-family: Consolas, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    padding-right: 5px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

#nav li {
    list-style-type: none;
}

#nav a:link, #nav a:visited {color: #f60;}
#nav a:focus {color: #000; border: solid #f60 2px;}
#nav a:hover {color: #000;}
#nav a:active {color: #fff;}

.active {
    background: transparent url(pics/pil.png) no-repeat center left;
    text-indent: 35px;
}

legend {
    color: #000;
    font-family: Consolas, Verdana, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
}

label, input, textarea {
    color: #000;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 21px;
}

button:hover {font-weight: bold;}


