/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END OF RESET*/

/*START OF STYLE*/


/*COLORS
  Background color: #fff (white)
  Text main color: #000 (black)
  Main color: #f60 (orange)
  Visited links color: #b24700 (dark orange)
  Light orange: #ff7519
  Second color (links etc): #00a9b2 (blue)
  Third color: #00f1ff (light blue)
*/


/*Layout*/
#container {
    margin: 0 auto;
    width: 960px;
    overflow: auto;
}

#header {
    width: 320px;
    height: 118px;
}

#nav {
    float: left;
    width: 192px;
}

#content {
    float: left;
    width: 768px;
}

#footer {
    clear: both;
    width: 960px;
}

/*Backgrounds and borders*/

#header {
    border-bottom: dashed #f60 2px;
}

#footer {
    background: #f60;
}

table {
    border: solid #00a9b2 2px;
}

th, td {
    border: solid #00a9b2 1px;
}

fieldset {
    border: solid #00a9b2 1px;
}

/*Texts and links*/

h1 {
    color: #000;
}

h2 {
    border-bottom: solid #00a9b2 2px;
    color: #000;
}

#presentation h2 {
    border: 0px;
    color: #000;
}

h3 {
    border-bottom: dashed #00a9b2 1px;
    color: #000;
}

p {
    color: #000;
}

.postfoot {
    border-bottom: dashed #00a9b2 1px;
    border-top: dashed #00a9b2 1px;
}

a:link {color: #00a9b2;}
a:visited {color: #b24700;}
a:focus {color: #000; border: solid #f60 2px;}
a:hover {color: #000;}
a:active {color: #fff;}

#footer a {
    color: #000;
}

#footer a:hover {
    color: #fff;
}

#nav a {
    border-bottom: dashed #f60 1px;
    display: block;
    font-family: Consolas, Verdana;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

#nav a:link, #nav a:visited {color: #f60;}
#nav a:focus {color: #000; border: solid #f60 2px;}
#nav a:hover {color: #000;}
#nav a:active {color: #fff;}

.active {
    background: #fff url(pics/pil.png) no-repeat center left;
    text-indent: 35px;
}



